{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
{% load widget_tweaks %}   
<h2>ข่าวประชาสัมพันธ์
    {% if request.user.is_authenticated %}
    <a href="{% url 'upload' %}" ><button class="uk-button uk-button-default">upload</button></a>
    {% endif %}
</h2>

<div class="detaillcontent">
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th><h4 class="uk-margin-remove-bottom" style="color:#fff">วันที่</h4></th>
                <th><h4 class="uk-margin-remove-bottom" style="color:#fff">เรื่อง</h4></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for f in all_public %}
            <tr>
                <td>{{ f.date }}</td>
                <td><a href="/news/{{f.id}}">{{ f.title }}</a></td>
                {% if request.user.is_authenticated %}
                <td><a href="/edit/{{f.id}}">edit</a></td>
                <td><a href="/delete/{{f.id}}">delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}