{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
{% load widget_tweaks %}     
<div >
    <div class="uk-grid-collapse uk-child-width-1-1@s uk-margin uk-padding-small" uk-grid  style="font-family: Kanit">
        {% if request.user.is_authenticated %}
        <!-- <input type="button" value="upload file"> -->
        <h4 class="uk-text-center uk-margin-small-bottom">แก้ไขข้อมูลข่าว</h4>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            <table border="0" style="width: 100%" >
                {% for f in form %}
                <tr>
                  <th>{{f.label_tag}}</th>
                  <td >{% render_field f class="uk-input" placeholder=f.label %}</td>
                </tr>
                {%endfor%}
                <!-- {{ form }} -->
                <tr>
                  <td></td>
                  <td style="text-align: right"><button type="submit" class="uk-button uk-button-primary" >อัพเดท</button></td>
                </tr>
              </table>
          </form>
        {% endif %}
    </div>
</div>
{% endblock %}


